* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.menu_item {
  border-right: 2px dotted #000;
  padding-right: 28px;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.5);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_logotext {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 100;
  line-height: 1.0;
}

.subheader_call {
  margin-top: 23px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  line-height: 1.0;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.0;
  text-decoration: none;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  border-radius: 5px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  height: 799px;
  background: url(../img/mainbg.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_head {
  color: #ffffff;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  line-height: 1.0;
  margin: 0;
}

.promo_subhead {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.0;
  margin-top: 22px;
}

.promo_text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  width: 259px;
  height: 63px;
  margin: 0 auto;
  margin-top: 118px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.topic {
  width: 112px;
  margin: 0 auto;
  background-color: #000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  line-height: 2.1;
  text-transform: uppercase;
  text-align: center;
}

.title {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  text-align: center;
  margin-top: 38px;
}

.subtitle {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  margin-top: 7px;
  text-align: center;
}

.advent {
  padding-top: 71px;
  padding-bottom: 65px;
}

.advent_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.advent_block_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  margin-left: 35px;
  margin-right: 25px;
}

.advent_block_text {
  width: 343px;
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-align: justify;
}

.advent_block_text span {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  text-align-last: left;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mob_bg.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../img/mob_bg/mpril1.jpg") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/mob_bg/mpril2.jpg") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/mob_bg/mpril3.jpg") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/mob_bg/mpril4.jpg") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/mob_bg/mpril5.jpg") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/mob_bg/mpril6.jpg") center center/cover no-repeat;
}

.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.mobile_item_plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}

.mobile_item_plus::after {
  position: absolute;
  content: '';
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobile_item_plus:hover::before, .mobile_item_plus:hover::after {
  background-color: #ff5656;
}

.choice {
  position: relative;
  min-height: 896px;
  padding: 57px 0 138px 0;
  background: url("../img/mob_bg.png") center center/cover no-repeat;
}

.choice .topic {
  position: relative;
  background-color: #ffffff;
  color: #070716;
  z-index: 2;
}

.choice .title {
  position: relative;
  color: #ffffff;
  margin-top: 32px;
  z-index: 2;
}

.choice .subtitle {
  position: relative;
  color: #ffffff;
  z-index: 2;
}

.choice_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

.choice .black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 499px;
  background-color: #070716;
  z-index: 1;
}

.choice_descr {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.require {
  padding: 68px 0 84px 0;
}

.require .title {
  margin-top: 33px;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0;
}

.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
  color: #222222;
}

.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 11px;
}

.require_list li::before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  color: blue;
  background: url("../icon/blue_check.png") center;
}

.require_descr {
  color: #1ca8c3;
  font-size: 20px;
  font-weight: 400;
}

.require .warning .require_title {
  color: #ff5656;
}

.require .warning .require_list li::before {
  background: url("../icon/red_check.png") center;
}
/*# sourceMappingURL=style copy.css.map */